<template>
  <v-card class="single-page">
    <v-list-item-icon class="ps-1">
      <v-icon x-large>mdi-cash-multiple </v-icon>
    </v-list-item-icon>
  </v-card>
</template>

<script>
export default {
  middleware: ["auth"],
};
</script>

<style lang="scss">
.single-page {
  background: #fff;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .v-icon {
    font-size: 10rem !important;
    color: #1b7bb1;
  }
}
</style>
