<template>
  <div class="content-box">
    <!-- multiple proudct only -->
    <!-- ref='`packaging/${index}`' -->

    <p class="font-weight-bold">تعديل الاسعار</p>

    <div class="forms-container" ref="formsContainer">
      <div v-for="item in reqForm" :key="item">
        <price-form :index="item" />
      </div>
    </div>
    <div class="dFlex mt-8">
      <v-btn color="primary" @click="addPriceForm" class="submit-button">
        اضافه مجموعه
      </v-btn>
    </div>

    <v-btn color="mt-11" class="Flex submit-button ma-0">
      <nuxt-link :to="localePath('/store/products')"> انهاء المنتج </nuxt-link>
    </v-btn>
  </div>
</template>

<script>
import priceForm from "~/components/price-form.vue";
export default {
  middleware: ["auth"],
  components: { priceForm },
  data() {
    return {
      reqForm: 0,
      disabled: false,
      loading: false,
      loadingPage: true,

      multipleOptions: [],
      nameRules: [(v) => !!v || this.$t("reqFiled")],

      //features
      allfeatures: null,
      features: {
        featureId: "",
        featureName: "",
        options: "",
      },

      //options
      alloptionsData: [],
      alloptions: null,
      options: {
        optionId: "",
        featureOptionName: "",
      },

      form: {
        // productId: null,
        // featureId: null,
        // options: [],

        productCount: null,
        priceDiscount: null,
        price: null,
      },

      savedIdFature: [],
      lastSelect: "",
    };
  },

  mounted() {},

  methods: {
    addPriceForm() {
      this.reqForm++;
    },
  },
};
</script>

<style>
.diableButtons {
  opacity: 0.1;
  background: #1b7ab1ad;
}
</style>
