// reset
@font-face {
  font-family: "mainFont";
  src: url("fonts/FontsFree-Net-URW-DIN-Arabic-Bold-1.ttf") format("truetype");
  src: url("fonts/FontsFree-Net-URW-DIN-Arabic-1.ttf") format("truetype");
}
.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
  // pointer-events: none
  background-color: #1b7ab135 !important;
  color: #010110 !important;
}
.v-card__actions {
  .v-data-footer__icons-after,
  .v-data-footer__icons-before {
    display: none;
  }
}
.note {
  color: rgba(255, 0, 0, 0.945);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.h-100 {
  height: 100%;
}
// number arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ma-0 {
  margin: 0 !important;
}
.v-btn {
  .v-btn__content {
    width: 100%;
    height: 100%;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.text-end {
  text-align: end;
}
textarea {
  padding: 10px !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.product-form-container
  .v-select__slot
  .v-select__selections
  .v-select__selection--comma {
  font-size: 14px;
}

.v-list-item .v-list-item__title,
.v-list-item .v-list-item__subtitle {
  line-height: 1.6;
  font-size: 14px;
}
// Scroll Bar
::-webkit-scrollbar,
body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

fieldset,
.v-input__slot,
.v-input__control,
button {
  outline: none !important;
}

::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.158);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.114);
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #285f80;
  outline: 1px solid var(--main);
}
a {
  text-decoration: none;
}
.cp {
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$main-color: #1b7bb1;
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.text-start {
  text-align: start !important;
}

.v-text-field input {
  padding-inline-start: 10px;
}
//Text Color
.tx-main {
  color: $main-color !important;
}
.tx-gray {
  color: rgb(155, 153, 153) !important;
}

// BackGround Color
.bg-main {
  background-color: $main-color !important;
}
.bg-body {
  background-color: #f5f5f5 !important;
}

.content-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}

.v-list-item__title {
  font-size: 12px;
}

.border-b {
  border: 0.3px solid #1b7ab186;
}
.shadow-0 {
  box-shadow: none !important;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.side-p {
  font-size: 1rem;
  color: #010110;
}

.btn-reset {
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}
.rounded {
  border-radius: 7px;
}
.siz-14 {
  font-size: 14px;
}
.siz-12 {
  font-size: 12px;
}
.siz-10 {
  font-size: 10px;
}
.h-100 {
  height: 100%;
}
.scroll-responsive {
  min-width: 400px;
  overflow: auto;
}

.show-only {
  cursor: inherit !important;
}

.img-cover {
  object-fit: cover;
}
.img-contain {
  object-fit: contain;
}
.w-100 {
  width: 100% !important;
}
.min-btn-w {
  min-width: 150px !important;
}
.btn-a {
  color: #fff !important;
  width: 100%;
  height: 100%;
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
}
.a-btn-w {
  min-width: 100px !important;
}

.rounded-circle {
  border-radius: 50%;
}

.v-chip--select {
  background-color: $main-color !important;
  color: #fff !important;
}

.qr-img {
  img {
    text-align: center;
    margin: auto !important;
  }
}

// Search Bar
.search-tabel {
  .v-text-field input {
    line-height: 27px;
    padding-bottom: 0px !important;
  }
  .v-input {
    // max-width: 80%;
    min-width: 300px;
    background-color: #f5f5f5;
    padding: 0 !important;
    padding-inline-start: 6px !important;
    margin: 0;
    border-radius: 3px !important;
    font-size: 12px !important;
  }
  .v-input__append-inner {
    margin-top: 0 !important;
    .v-input__icon {
      min-width: 40px;
      width: 40px;
      height: 40px;

      .v-icon {
        border-end-end-radius: 3px !important;
        border-start-end-radius: 3px !important;
        padding: 5px;
        background-color: rgb(27, 122, 177) !important;
        color: #fff !important;
        font-size: 19px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .v-text-field > .v-input__control > .v-input__slot:before {
    display: none;
  }
}

.text-e {
  text-align: end;
}
.text-s {
  text-align: start;
}

.w-50 {
  width: 50%;
}
.tx-white {
  color: #fff !important;
}

.dFlex {
  display: flex;
  justify-content: center;
}
.box-head {
  font-weight: bolder !important;
  font-size: 0.9rem !important;
}
.dFlex-col {
  display: flex !important;
  align-items: center;
  gap: 14px;
  flex-direction: column;
  justify-content: center;
}

.top-table {
  .v-btn__content {
    height: 100%;
    // background-color: green;
  }
}
.swal2-popup {
  background-color: #ffffff !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.page-container {
  position: relative;
}

.blok-a {
  width: 100%;
  height: 100%;
}
.rest-btn {
  min-width: 20px !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.v-data-table__wrapper {
  table {
    min-width: 800px;
  }
}
.v-data-footer__select {
  .v-input__icon {
    height: 35px;
    min-width: 13px;
    width: 16px;
  }
}
.v-input .v-label {
  margin-bottom: 10px;
}

.main-table-contant .v-image__image--cover,
.main-table-contant .v-responsive__content {
  width: 90px !important;
  height: 60px !important;
}

// password icone
.passwordInput {
  position: relative;
  .v-input__icon {
    position: absolute;
    bottom: 10%;
    left: 10px;
    .v-icone {
      color: $main-color !important;
    }
  }
}
.product-form-container {
  width: 100%;
  .row {
    & > div {
      // background-color: red;
      padding-top: 0;
      // padding-bottom: 0;
    }
  }
}

@media (max-width: 600px) {
  td:last-child::before {
    content: "" !important;
  }
}

// Direction
.app-container[dir="ltr"] {
  .v-select__slot .v-input__append-inner {
    left: auto;
    right: 10px;
  }
  // password icone
  .passwordInput {
    .v-input__icon {
      right: 10px;
      left: auto;
    }
  }
}
